*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main.container
{
    height: 100vh; /* Prend toute la largeur de l'écran */
    background-color: whitesmoke;

    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column;
}

main .main-content
{
    background-color: #ffffff3b;
    width: 50rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1.title
{
    text-align: center;
    color: white;
    padding: .5rem 2rem;
    margin-bottom: 2.5rem;
    background-color: #36376d;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-contact
{
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
}

ul
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

ul li
{
    list-style-type: none;
    background-color: #36376d13;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #36376da1;
}

ul li:hover
{
    background-color: #36376d27;
}

ul li img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul li a
{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #36376d;
    font-size: large;
    gap: 1rem;
}







/*

*/
main.container .buttons
{
    display: flex;
    justify-content: space-around;
    background-color: #36376d;
    padding: 1rem;
    border-radius: 5px 0 5px 0;
}

main.container .buttons a
{
    color: white;
    text-decoration: none;
}

.image
{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.main-content img
{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.main-content p
{
    margin: 1rem;
}
.main-content p span
{
    font-weight: bolder;
}


/**/
main.container form
{
    display: flex;
    flex-direction: column;
    background-color: #ffffff3b;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main.container input
{
    width: 100%;
    padding: .5rem;
    background-color: white;
}
